.message-box {
  position: relative;
  margin-top: -350px;
  margin-bottom: -250px;
}

.messages {
  max-height:60vh;
  overflow-y: auto;
  padding-bottom: 180px;
  margin-left: 25%;
}

.content-wrapper {
  position: fixed;
  bottom: 0;
  left: 23%;
  width: 75%;
  z-index: 3;
  background-color: #343a40;
  padding: 10px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  border-bottom-right-radius: 10px;
}

.message {
  margin-left: 0;
  margin-bottom: 25px;
  padding: 4px;
  z-index: 1;
}

.my-message{
  margin-left: 0px;
}

.other-message{
  margin-left: 570px;
}