.user-list {
  position: absolute;
  top: 50%;
  width: 23%;
  height: 100%;
  transform: translateY(-50%);
  background-color: #212529;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.user-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.user-item.selected {
  background-color: #616161;
}

.username {
  font-size: 115%;
  margin-left: 0px;
}
