
.gray-box {
  position: fixed;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #343a40;
  border: 0.5px solid #ccc;
  padding-top: 350px;
  border-radius: 10px;
  width: 60%;
  height: 50%;
  color: #f8f9fa;
}


.box-wrapper {
  position: absolute;
  top: 0.5%;
  right: 0.5%;
}

.black-background {
  background-color: rgb(59, 58, 58);
  width: 100vw;
  height: 100vh;
}