* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.title {
  text-align: center;
}

.login-link {
  margin-top: 20px;
}

.login {
  font-size: 1.5rem;
  text-decoration: none;
}