* {
  margin: 0;
  padding: 0;
}

.gray-box {
  position: fixed;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  padding-top: 350px;
  border-radius: 5px;
  width: 60%;
  height: 50%;;
}

.box-wrapper {
  position: absolute;
  top: 0.5%;
  right: 0.5%;
}

.content-wrapper {
  margin-left: 24%;
  margin-top: 400px;
}

.gray-box .vertical-line {
  position: absolute;
  left: 23%;
  top: 0;
  bottom: 0;
  width: 3px;
  background-color: #ccc;
}
